* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.max-height {
  height: 100vh;
  max-height: 70vh;
}

.bg-part {
  background-color: #f4a261;
}

.avt-ico {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.avt-ico-big {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.display-5 {
  font-size: 20px;
}

.auth-page video {
  background-color: #eee;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}
.auth-page .display-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
}
.auth-page .display-screen h1 {
  color: #fff;
}
.auth-page .display-screen form {
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  background-color: rgba(0, 150, 136, 0.5);
}
.auth-page .display-screen form .form-control {
  color: green;
}
.auth-page .display-screen form .form-control:focus {
  background-color: #a5d6a7;
  outline: none;
  border-color: unset;
  box-shadow: 0px 0px 14px -3px rgba(0, 150, 136, 0.5);
}
.auth-page .display-screen form .submit {
  text-align: center;
}
.auth-page .display-screen form .submit .btn-primary {
  background-color: green;
  outline: none;
  border: none;
  padding: 7px 30px;
}
.auth-page .display-screen form a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  transition: all 0.5s;
}
@media only screen and (max-width: 576px) {
  .auth-page .display-screen {
    min-width: 300px;
  }
  .auth-page h1.display-4 {
    font-size: 40px;
  }
}

.chat .float-content {
  width: 100%;
}
.chat .float-content::after {
  display: table;
  clear: both;
}
.chat .float-content .float-1 {
  float: left;
  width: 20%;
}
.chat .float-content .float-2 {
  float: left;
  width: 50%;
}
.chat .float-content .float-3 {
  float: left;
  width: 30%;
}
@media only screen and (max-width: 576px) {
  .chat .float-content .bg-part {
    background-color: inherit;
  }
  .chat .float-content .float-1 {
    width: 30%;
  }
  .chat .float-content .float-1 .max-w-full {
    max-width: 50px;
  }
  .chat .float-content .float-1 .panel {
    padding: 10px;
  }
  .chat .float-content .float-1 .panel .hidden-mobile {
    display: none !important;
  }
  .chat .float-content .float-1 .box-search {
    display: none;
  }
  .chat .float-content .float-1 .avt-ico {
    padding: 5px;
  }
  .chat .float-content .float-2 {
    width: 70%;
  }
  .chat .float-content .float-2 #messages .px-4 {
    padding: 5px 10px !important;
  }
  .chat .float-content .float-2 #messages .px-4 p.break-words {
    font-size: 14px;
  }
  .chat .float-content .float-2 #messages .px-4 .max-w-xs {
    max-width: 125px;
  }
  .chat .float-content .float-2 #input-messages {
    padding: 0px !important;
  }
  .chat .float-content .float-2 .rounded-xl {
    border-radius: 5px;
  }
  .chat .float-content .float-3 {
    display: none;
  }
}
.chat .chat-box {
  padding: 0px 5px;
}
.chat .chat-box .sticker {
  bottom: 50px;
  right: 10px;
}
.chat .chat-box input {
  padding-right: 50px !important;
}
.chat .chat-box .btn-emoji {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4299e1;
  border-radius: 50%;
}
@media screen and (max-width: 576px) {
  .chat .chat-box .btn-emoji {
    right: 8px;
  }
  .chat .chat-box input {
    font-size: 14px;
    padding-right: 35px !important;
  }
}
.chat .chat-list {
  padding: 0px 5px;
  position: relative;
}
.chat .chat-list .center-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.chat .chat-list .panel {
  margin-bottom: 20px;
}
.chat .info-user {
  padding: 0px 5px;
}
.chat .info-user .title-bar {
  background-color: #f4a261;
}
.chat .info-user .title-bar h2 {
  height: 50px;
  margin: 0;
  font-size: 30px;
  line-height: 50px;
}
.chat .info-user .info h3 {
  font-size: 25px;
  padding: 20px;
}
.chat .info-user .info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.chat .info-user .info ul .text-border {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .container-fluid {
    padding: 0px;
  }

  .auth-page .display-screen {
    max-height: 100%;
    min-width: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
